html {
	height: 100%;
	width:100%;
	font-size: 100%;
	background-color:#DA1F31;
	background-color:#000000;
	color:#000000;
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	font-weight:400;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.clr {
	clear:both;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
a {
	border:0;
	outline:0;
	text-decoration:none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    background-color: #ededed;
    margin: 30px 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
	display:block;
	border:none;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

h1 {
	font-size:20px;
	font-weight:normal;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Age verify styles
   ========================================================================== */
::-webkit-input-placeholder { /* Chrome */
  color: #000000;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #000000;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #000000;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #000000;
  opacity: 1;
}

.overlay {
	position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background:rgba(0,0,0,0.25);
}
.formcontainer {
	margin:0 auto;
	text-align:center;
	margin-top:80px;
	padding:30px;
	width:100%;
	max-width: 520px;
	background-color: #FFFFFF;
	border-radius: 4px;
	box-shadow: 0px 10px 50px rgba(0,0,0,0.15);
	height: auto;
	overflow: hidden;
}
.formlogo {
	width:100%;
	padding:10px;
	max-width:320px;
	margin: 0 auto 30px;
}
.formlogo img {
	width:100%;
	height:auto;
}
.legal-age {
	font-family: 'bud_boldregular';
	font-size: 30px;
	line-height: 30px;
	margin-bottom:30px;
}
.legal-age-form {
	font-family: 'bud_boldregular';
	font-size: 24px;
	line-height: 24px;
	margin-bottom:20px;
}
.formfield {
	padding: 20px;
	width:100%;
	border:none;
	border-radius:4px;
	text-align:left;
	font-size:14px;
	height: 60px;
	margin:0;
	color:#000000;
	background-color: #f6f6f6;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 20px;
}
.halffield {
	width: 48%;
	float: left;
	margin-bottom:35px;
}
.halffield:last-child {
	float: right;
}
.submitbtn {
	border-radius:4px;
	padding:10px 0px;
	background-color:#DA1F31;
	color:#FFFFFF;
	margin:0;
	font-size:22px;
	height: 60px;
	width: 100%;
	border:none;
	font-family: 'bud_boldregular';
	text-align: center;
}
.submitbtn:hover {
	cursor:pointer;
}
.forminputwrap {
	margin:0;
}
.forminput {
	width:100%;
	text-align:left;
	margin-bottom:30px;
}
.forminput:last-child {
	margin-bottom:5px;
}
.responsible {
	font-family: 'bud_boldregular';
	font-size: 20px;
	padding-top:20px;
	width: 100%;
	clear:both;
	margin-bottom:100px;
}
.responsible p {
	font-size: 12px;
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding-top:10px;
	width: 100%;
	max-width: 420px;
	margin:0 auto;
}
.responsible a {
	color: #FFFFFF;
}
.responsible a:hover {
	text-decoration: underline;
}
.pre-footer {
	font-size:60px;
	line-height: 60px;
	text-align: center;
	margin:100px auto 50px;
	width: 100%;
	max-width:800px;
	font-family: 'bud_boldregular';
	text-transform: uppercase;
	color: #DA1F31;
}
.footer {
	background-color: #FFFFFF;
	padding:20px;
	color: #000000;
	width: 100%;
	font-size: 12px;
	line-height: 14px;
	clear:both;
	margin-top:40px;
	height: auto;
    overflow: hidden;
}
.copyright {
	float: left;
	width: 70%;
	line-height: 16px;
}
.social {
	width: 30%;
	float: right;
}
.social a {
	width: 25px;
	margin-left:20px;
	float: right;
}
.social a img {
	width: 25px;
	height: 25px;
}

/* Content */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 5%, 0);
    transform: translate3d(0, 5%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 5%, 0);
    transform: translate3d(0, 5%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}


@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.activationwrap {
	width: 1280px;
	height: 960px;
	overflow: hidden;
	margin:0 auto;
	background-image: url(../img/bud-fillup-bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	position: relative;
}
.logo {
	position: absolute;
	width: 240px;
	top:30px;
	left:30px;
	z-index: 999;
}
.logo img {
	width: 100%;
}
.fullcup, .emptycup, .start-sequence {
	position: absolute;
	width: 1280px;
	height: 800px;
	left:0;
	top: 0;
}
.fullimg {
	width: 100%;
	height: auto;
}

